@font-face {
    font-family: DIN pro;
    src: url("../../public/fonts/FF_DIN_Pro_Regular_Italic.otf");
}

@font-face {
    font-family: DIN pro;
    font-weight: 900;
    src: url("../../public/fonts/FF_DIN_Pro_Black_Italic.otf");
}

@font-face {
    font-family: DIN pro;
    font-weight: 100;
    src: url("../../public/fonts/FF_DIN_Pro_Light_Italic.otf");
}

@font-face {
    font-family: DIN pro;
    font-weight: 700;
    src: url("../../public/fonts/FF_DIN_Pro_Bold_Italic.otf");
}

@font-face {
    font-family: DIN pro;
    font-weight: 500;
    src: url("../../public/fonts/FF_DIN_Pro_Medium_Italic.otf");
} */

div.Components {
 margin: 30px 0 30px 0;
 width: 676px;
}

/* Price Paid Average */
div.line {
 height: 1px;
 width: 676px;
 background: #8C8C8E;
 margin: 20px 0 37px 0;
}

div.priceChartBar{
 display: inline-block;
}

div.priceChartDiv {
 width: 11px;
 margin: 10px 9.3px 15px 0px;
 display: inline-block;
}

div#average-line{
 position: absolution;
 background: #21CE99;
 margin: 0 4.65px 0 -4.65px;
 height: 136px;
 width: 1px;
}

div#compare {
 position: relative;
 margin: 0 10px 75px 0;
}

p#compare{
 color: #23CE99;
 margin: 0 0 0 5px;
 font-size: 15px;
 text-align: center;
 font-weight: 500;
}

p#rightNow{
 color: #23CE99;
 margin: 0 0 0 5px;
 font-size: 12px;
 text-align: center;
}

div.bottomLine{
 margin: -13px 0 13px 0;
}

span#bottomFrontLine{
 height: 1px;
 background-color: #8C8C8E;
 display: inline-block;
}

span#circle{
 height: 15px;
 width: 15px;
 background: #23CE99;
 display: inline-block;
 border-radius: 50%;
 margin: 8px 0 0 0;
 position: absolute;
}

span#bottomRareLine{
 height: 1px;
 background-color: #8C8C8E;
 display: inline-block;
}

div#lowest{
 font-size: 13px;
 text-align: left;
 width: 90px;
 display: inline-block;
 color: #8C8C8E;
 font-weight: 500;
 float: left;
}

p#lowest{
 font-weight: 400;
 margin: 0 0 0 0;
}

div#averagePricePaid{
 display: inline-block;
 position: relative;
 font-size: 13px;
 letter-spacing: 0.25px;
}

p.averagePricePaid{
 margin: 0 0 0 0;
 text-align: center;
 width: 100px; 
 font-weight: 500;
 letter-spacing: 0.25px;
}

p.averagePricePaid#averagePricePaid{
 font-weight: 400;
}

div#highest{
 font-size: 13px;
 text-align: right;
 width: 90px;
 display: inline-block;
 color: #8C8C8E;
 font-weight: 500;
 letter-spacing: 0.25px; 
 float: right;
}

p#highest{
 margin: 0 0 0 0;
 font-weight: 400;
}
