body {
    font-family: DIN pro;
}

#main-container {
    margin: auto;
    display: flex;
}

#main-column {
    flex: 0 0 67%;
    margin: auto;
}

#minor-column {
    flex: 0 0 27.7%
}

#stock-chart {
    margin-top: 40px;
}
