body {
    font-family: DIN pro;
}

#main-container {
    margin: 0 140px;
    display: flex;
}

#main-column {
    flex-basis: 72%
}

#minor-column {
    flex-basis: 27.7%
}

#stock-chart {
    margin-top: 40px;
}