body {
    font-family: DIN pro;
}

#main-container {
    margin: auto;
    display: flex;
}

#main-column {
    flex: 0 0 67%;
    margin: auto;
}

#minor-column {
    flex: 0 0 27.7%
}

#stock-chart {
    margin-top: 40px;
}

body#gary {
    font-family: DIN pro;
    font-size: 13px;
}

div#displayTop {
    margin: 30px 0 0 0;
}

h1#stockName{
    display: inline;
    margin: 0 50px 0 20px;
}

p.topic {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.14px;
}

h3#stockId {
    display: inline;
    margin: 0 0 0 20px;
}

h3#stockTicker {
    display: inline;
    margin: 0 0 0 20px;
}

div.Components {
 margin: 30px 0 30px 0;
 width: 676px;
}